// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #802BB1
$secondary = #2D283E
$tertiary  = #564F6F

$neutral   = #D1D7E0
$positive  = #83677B
$negative  = #4C495D
$info      = #2A1B3D
$warning   = #D83F87

@import '~quasar-variables'
